body{
	background-color: black;
}

.loading-main {
	background-color: #000;
	box-sizing: content-box;
	position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.loading-main div{
	position: absolute;
}

.loading-name {
	width: 170px;
	height: 44px;
	top: 26px;
	left: -39px;
    border: 2px solid #FFF;
    margin: 0 auto;
    overflow: hidden;
}

.loading-name .lo-box {
	width: 166px;
	height: 42px;
	top: 1px;
	left: -170px;
	background-color: #FFF;
	z-index: 1;
	margin-right: 2px;
	animation: loader 2s infinite;
	animation-timing-function: linear;
}

.loading-name .lo-d{
	position: absolute;
	top: -22px;
	left: 23px;
	color: #000;
	-webkit-text-stroke: 0.5px #FFF;
	z-index: 8;
	
}

.loading-dz {
	width: 100px;
	height: 100px;
	border: 1px solid;
	border-color: #FFF;
	z-index: 10;
	animation-name: lo-xz;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: lo-xz;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.loading-xz {
	width: 92px;
	height: 92px;
	margin: 4px;
	border: 1px solid;
	border-color: #fff;
	opacity: 0.5;
	z-index: 10;
	animation-name: lo-xz;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
	-webkit-animation-name: lo-xz;
	-webkit-animation-duration: 4s;
	-webkit-background-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: reverse;
}

.loading-yuan {
	width: 82px;
	height: 82px;
	margin: 5px;
	border: 4px solid #fff;
	border-top-color:#FFF;
	border-right-color:transparent;
	border-bottom-color:#FFF;
    border-left-color:transparent;
	border-radius: 90px;
	z-index: 10;
	animation-name: lo-xz;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
	-webkit-animation-name: lo-xz;
	-webkit-animation-duration: 2.5s;
	-webkit-background-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: reverse;
}

@keyframes lo-xz {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@-webkit-keyframes lo-xz {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes loader {
    0% {
        transform: translate(-170px);
    }
    100% {
        transform: translate(350px);
    }
}